*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Tahoma;
  background-image: url('https://images.unsplash.com/photo-1513026705753-bc3fffca8bf4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b522ae2afefadaa7290956e52c799bf2&auto=format&fit=crop&w=1950&q=80');
  background-repeat: repeat-y;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.container{
  background-color: white;
  opacity: .85;
  border-radius: 4px;
}

.auth-container{
  width: 500px;
  margin: 50px auto;
  background-color: white;
  opacity: .85;
  border-radius: 3px;
  padding: 10px 30px;
}

.form-custom {
  height: 400px;
  border-bottom: 2px solid limegreen;
  padding: 15px;
  margin: 50px 0px;
}

.form-custom input{
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid lightslategray;
}

.form-custom input:focus, .form-custom input:active{
  border-color: slateblue;
  outline: none !important;
  -webkit-appearance: none;
  appearance: none;
  background-color: ghostwhite;
  box-shadow: 0px 10px 10px 0px rgba(69, 18, 211, 0.75) !important;
  border-radius: 3px;
}

.form-custom label{
  color: #222;
  font-weight: 600;
  /* text-shadow: 2px 2px 20px dodgerblue; */
}

